# [dbo].[tb_Adv]

In [0]:
USE [K22CNT4-TTCD1-PhamThiThuHuyen]
GO

In [0]:
/****** Object:  Table [dbo].[tb_Adv]    Script Date: 11/3/2024 3:30:12 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tb_Adv](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Title] [nvarchar](250) NULL,
	[Description] [nvarchar](500) NULL,
	[Image] [nvarchar](500) NULL,
	[Type] [int] NULL,
	[Link] [nvarchar](500) NULL,
	[SeoTitle] [nvarchar](250) NULL,
	[SeoDescription] [nvarchar](550) NULL,
	[SeoKeyword] [nvarchar](250) NULL,
	[CreateDate] [datetime] NULL,
	[CreateBy] [nvarchar](150) NULL,
	[ModifiedDate] [datetime] NULL,
	[ModifierBy] [nvarchar](150) NULL,
 CONSTRAINT [PK_tb_Adv] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO

# [dbo].[tb_Category]

In [0]:
/****** Object:  Table [dbo].[tb_Category]    Script Date: 11/3/2024 3:30:12 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tb_Category](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Title] [nvarchar](150) NULL,
	[Description] [nvarchar](500) NULL,
	[SeoTitle] [nvarchar](150) NULL,
	[SeoDescription] [nvarchar](550) NULL,
	[SeoKeywords] [nvarchar](250) NULL,
	[Position] [int] NULL,
	[CreateDate] [datetime] NULL,
	[CreateBy] [nvarchar](150) NULL,
	[ModifiedDate] [datetime] NULL,
	[ModifierBy] [nvarchar](150) NULL,
 CONSTRAINT [PK_tb_Menu] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO

# [dbo].[tb_Contact]

In [0]:
/****** Object:  Table [dbo].[tb_Contact]    Script Date: 11/3/2024 3:30:12 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tb_Contact](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](150) NULL,
	[Website] [nvarchar](150) NULL,
	[Email] [nvarchar](150) NULL,
	[Message] [nvarchar](400) NULL,
	[IsRead] [bit] NULL,
	[CreateDate] [datetime] NULL,
	[CreateBy] [nvarchar](150) NULL,
	[ModifiedDate] [datetime] NULL,
	[ModiferBy] [nvarchar](150) NULL,
 CONSTRAINT [PK_tb_Contact] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO

# [dbo].[tb_New]

In [0]:
/****** Object:  Table [dbo].[tb_New]    Script Date: 11/3/2024 3:30:12 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tb_New](
	[Id] [int] NULL,
	[Title] [nvarchar](250) NULL,
	[CategoryId] [int] NULL,
	[Description] [nvarchar](4000) NULL,
	[Detail] [nvarchar](max) NULL,
	[image] [nvarchar](500) NULL,
	[SeoTitle] [nvarchar](150) NULL,
	[SeoDescription] [nvarchar](550) NULL,
	[SeoKeyword] [nvarchar](250) NULL,
	[CreateDate] [datetime] NULL,
	[CreateBy] [nvarchar](150) NULL,
	[ModifiedDate] [datetime] NULL,
	[ModiferBy] [nvarchar](150) NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO

# [dbo].[tb_Order]

In [0]:
/****** Object:  Table [dbo].[tb_Order]    Script Date: 11/3/2024 3:30:12 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tb_Order](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Code] [nvarchar](50) NULL,
	[CustomerName] [nvarchar](150) NULL,
	[Phone] [nvarchar](15) NULL,
	[Address] [nvarchar](500) NULL,
	[TotalAmount] [decimal](18, 0) NULL,
	[Quantity] [int] NULL,
	[CreateDate] [datetime] NULL,
	[CreateBy] [nvarchar](150) NULL,
	[ModifiedDate] [datetime] NULL,
	[ModiferBy] [nvarchar](150) NULL,
 CONSTRAINT [PK_tb_Order] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO

# [dbo].[tb_OrderDetail]

In [0]:
/****** Object:  Table [dbo].[tb_OrderDetail]    Script Date: 11/3/2024 3:30:12 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tb_OrderDetail](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[OrderId] [int] NULL,
	[ProductId] [int] NULL,
	[Price] [decimal](18, 0) NULL,
	[Quantity] [int] NULL,
 CONSTRAINT [PK_tb_OrderDetail] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO

# [dbo].[tb_Post]

In [0]:
/****** Object:  Table [dbo].[tb_Post]    Script Date: 11/3/2024 3:30:12 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tb_Post](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Title] [nvarchar](150) NULL,
	[SeoTitle] [nvarchar](250) NULL,
	[CategoryId] [int] NULL,
	[Description] [nvarchar](4000) NULL,
	[SeoDescription] [nvarchar](550) NULL,
	[SeoKeyword] [nvarchar](250) NULL,
	[Detail] [nvarchar](max) NULL,
	[Image] [nvarchar](500) NULL,
	[ModifiedDate] [datetime] NULL,
	[ModiferBy] [nvarchar](150) NULL,
	[CreateDate] [datetime] NULL,
	[CreateBy] [nvarchar](150) NULL,
 CONSTRAINT [PK_tb_Post] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO

# [dbo].[tb_Product]

In [0]:
/****** Object:  Table [dbo].[tb_Product]    Script Date: 11/3/2024 3:30:12 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tb_Product](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Title] [nvarchar](250) NULL,
	[ProductCategoryID] [int] NULL,
	[Description] [nvarchar](4000) NULL,
	[Detail] [nvarchar](max) NULL,
	[image] [nvarchar](500) NULL,
	[Price] [decimal](18, 2) NULL,
	[PriceSale] [decimal](18, 2) NULL,
	[Quantity] [int] NULL,
	[SeoTitle] [nvarchar](250) NULL,
	[SeoDescription] [nvarchar](550) NULL,
	[SeoKeyword] [nvarchar](250) NULL,
	[CreateDate] [datetime] NULL,
	[CreateBy] [nvarchar](150) NULL,
	[ModifiedDate] [datetime] NULL,
	[ModiferBy] [nvarchar](150) NULL,
 CONSTRAINT [PK_tb_Product_1] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO

# [dbo].[tb_ProductCategory]

In [0]:
/****** Object:  Table [dbo].[tb_ProductCategory]    Script Date: 11/3/2024 3:30:12 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tb_ProductCategory](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Title] [nvarchar](150) NULL,
	[Description] [nvarchar](500) NULL,
	[Icon] [nvarchar](500) NULL,
	[CreateDate] [datetime] NULL,
	[CreateBy] [nvarchar](150) NULL,
	[ModifedDate] [datetime] NULL,
	[ModiferBy] [nvarchar](150) NULL,
 CONSTRAINT [PK_tb_Product] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO

# [dbo].[tb_Subscribe]

In [0]:
/****** Object:  Table [dbo].[tb_Subscribe]    Script Date: 11/3/2024 3:30:12 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tb_Subscribe](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Email] [nvarchar](150) NULL,
	[CreateDate] [datetime] NULL,
 CONSTRAINT [PK_tb_Subscribe] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO

# [dbo].[tb_SystemSetting]

In [0]:
/****** Object:  Table [dbo].[tb_SystemSetting]    Script Date: 11/3/2024 3:30:12 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tb_SystemSetting](
	[SettingKey] [nvarchar](50) NULL,
	[SettingValue] [nvarchar](max) NULL,
	[SettingDescription] [nvarchar](250) NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO

# [dbo].[User]

In [0]:
/****** Object:  Table [dbo].[User]    Script Date: 11/3/2024 3:30:12 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[User](
	[userID] [int] IDENTITY(1,1) NOT NULL,
	[userName] [nvarchar](50) NULL,
	[password] [nvarchar](255) NULL,
 CONSTRAINT [PK_User] PRIMARY KEY CLUSTERED 
(
	[userID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO

# [dbo].[tb_Category]

In [0]:
SET IDENTITY_INSERT [dbo].[tb_Category] ON 
INSERT [dbo].[tb_Category] ([Id], [Title], [Description], [SeoTitle], [SeoDescription], [SeoKeywords], [Position], [CreateDate], [CreateBy], [ModifiedDate], [ModifierBy]) VALUES (3, N'Quản lí sản phẩm', N'Nơi lưu trữ sản phẩm', N'Quản Lí Sản Phẩm', N'Quản Lí Sản Phẩm', NULL, 1, CAST(N'2004-12-02T00:00:00.000' AS DateTime), N'huyen', NULL, NULL)
SET IDENTITY_INSERT [dbo].[tb_Category] OFF
GO

# [dbo].[tb_Post]

In [0]:
SET IDENTITY_INSERT [dbo].[tb_Post] ON 
INSERT [dbo].[tb_Post] ([Id], [Title], [SeoTitle], [CategoryId], [Description], [SeoDescription], [SeoKeyword], [Detail], [Image], [ModifiedDate], [ModiferBy], [CreateDate], [CreateBy]) VALUES (1, N'dior', N'Quản Lí Sản Phẩm', 1, N'Nơi lưu trữ sản phẩm', N'Quản Lí Sản Phẩm', N'đ', N'Nước hoa nam Dior Sauvage sở hữu mùi hương độc đáo và mạnh mẽ với 3 tầng hương. Nốt hương đầu cực kỳ bùng nổ với sự kết hợp của cam Bergamot và tiêu Tứ Xuyên, mang đến cảm giác vừa thanh mát, sáng khoái lại vừa có chiều sâu. Mùi hương của phiên bản ra mắt năm 2018 đã có sự gia giảm so với phiên bản đầu năm 2015 để tăng tính đa dụng. Với mở đầu thanh mát, Dior Sauvage được đánh giá là rất phù hợp với thời tiết nóng ẩm.', N'anh4.jpg', NULL, NULL, CAST(N'2004-12-02T00:00:00.000' AS DateTime), N'huyen')
SET IDENTITY_INSERT [dbo].[tb_Post] OFF
GO

# [dbo].[tb_Product]

In [0]:
SET IDENTITY_INSERT [dbo].[tb_Product] ON 
INSERT [dbo].[tb_Product] ([Id], [Title], [ProductCategoryID], [Description], [Detail], [image], [Price], [PriceSale], [Quantity], [SeoTitle], [SeoDescription], [SeoKeyword], [CreateDate], [CreateBy], [ModifiedDate], [ModiferBy]) VALUES (6, N'Dior Sauvage', 1, N'nước hoa nam', N'Nước hoa nam Dior Sauvage sở hữu mùi hương độc đáo và mạnh mẽ với 3 tầng hương. Nốt hương đầu cực kỳ bùng nổ với sự kết hợp của cam Bergamot và tiêu Tứ Xuyên, mang đến cảm giác vừa thanh mát, sáng khoái lại vừa có chiều sâu. Mùi hương của phiên bản ra mắt năm 2018 đã có sự gia giảm so với phiên bản đầu năm 2015 để tăng tính đa dụng. Với mở đầu thanh mát, Dior Sauvage được đánh giá là rất phù hợp với thời tiết nóng ẩm.', N'anh4.jpg', CAST(3500000.00 AS Decimal(18, 2)), CAST(3400000.00 AS Decimal(18, 2)), 3, NULL, NULL, NULL, CAST(N'2004-12-02T00:00:00.000' AS DateTime), N'huyen', NULL, NULL)
SET IDENTITY_INSERT [dbo].[tb_Product] OFF
GO

# [dbo].[User]

In [0]:
SET IDENTITY_INSERT [dbo].[User] ON 
INSERT [dbo].[User] ([userID], [userName], [password]) VALUES (1, N'huyen', N'123456')
INSERT [dbo].[User] ([userID], [userName], [password]) VALUES (2, N'huyennon', N'123456')
INSERT [dbo].[User] ([userID], [userName], [password]) VALUES (3, N'huyen', N'123456')
SET IDENTITY_INSERT [dbo].[User] OFF
GO